body {
    font-size: 18px;
/*     background-image: url('http://127.0.0.1:5500/bg.jpg'); */
    background-image: url('https://akbridha.github.io//bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff; /* Warna teks */
}

.profile-content {
    font-size: 1.2rem; /* Ubah ukuran font untuk konten */
    background-color: rgba(0, 0, 0, 0.7); /* Warna latar belakang konten */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}
.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 45%;
    object-fit: cover;
    margin-bottom: 20px;
}

a:visited {
    color: #ffffff;
}

.btn-primary {
    background-color: black;
    border-color: red;
}

.btn-primary:hover {
    background-color: red;
    border-color: black;
}

@media (max-width: 767px) {
    .profile-content {
        padding: 20px; /* Ubah padding pada perangkat mobile */
    }
    .profile-picture {
        width: 120px;
        height: 120px; /* Ukuran gambar lebih kecil di perangkat mobile */
        margin-bottom: 15px;
    }
    h1 {
        font-size: 24px; /* Ukuran font judul lebih kecil di perangkat mobile */
    }
}
